.form {
  max-width: 54rem;
  margin: 0 auto;
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr;

  & > * {
    grid-column: 1 / -1;
  }

  &_large {
    max-width: 69rem;
  }
  &_small {
    max-width: 54rem;
  }

  input,
  textarea {
    padding: 1em;
    background-color: #efefef;
    border: 0;
    font-family: inherit;
    font-size: 1.4rem;
    transition: background-color 0.2s;
    &::placeholder {
      color: #4e4e4e;
      transition: color 0.2s;
    }

    &:hover,
    &:focus {
      outline: none;
      background-color: #fafafa;
      &::placeholder {
        color: #000000;
      }
    }
  }

  input {
    &.half {
      @media screen and (min-width: 42em) {
        grid-column: span 1;
      }
    }
  }
  label {
    padding: 1em;
    span {
      padding: 0 0.5em;
    }
  }
  textarea {
    min-height: 15rem;
    resize: none;
  }
  button {
    cursor: pointer;
    justify-self: center;
    border: 0;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1.25em 5em;
    background-color: #f10f3b;
    transition: background-color 0.2s;

    &:hover {
      background-color: #292929;
    }
  }
}
