.firstScreen {
  position: relative;
  min-height: 90vh;

  &__image {
    display: block;
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }
  &_full {
    min-height: 100vh;

    .firstScreen__image {
      height: 100vh;
    }
  }

  &__content {
    max-width: 114rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    color: #fff;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    h1 {
      font-size: 7rem;
      & > :first-child {
        color: #f10f3b;
      }
    }

    p {
      font-size: 2.6rem;
      width: 90vw;
      max-width: 50rem;
    }

    .firstScreen__link {
      text-decoration: none;
      display: inline-block;
      padding: 0.85em 2em;
      color: #fff;
      transition: background-color 0.2s, color 0.2s;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
    .firstScreen__link_registration {
      background-color: #f10f3b;
      &:hover {
        background-color: #fff;
        color: #333;
      }
    }
    .firstScreen__link_about {
      background-color: transparent;
      &:hover {
        color: #333;
        background-color: #fff;
      }
    }

    h2 {
      font-size: 5rem;
    }

    .firstScreen__breadCrumb {
      font-size: 2rem;
      text-decoration: none;
      color: #fff;
      transition: color 0.2s;

      &:not(:last-child) {
        &::after {
          content: "/";
          padding: 0 0.35em;
          color: #f10f3b;
        }
      }

      &:hover {
        color: #f10f3b;
      }
    }
  }
}
