.firstScreen {
  min-height: 80vh;

  &__image {
    display: block;
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
  &_full {
    min-height: 100vh;

    .firstScreen__image {
      height: 100vh;
    }
  }
}
