.container {
  display: flex;

  &_2,
  &_3,
  &_4,
  &_5 {
    display: grid;

    img {
      width: 100%;
    }
  }

  &_2 {
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  }
  &_3 {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
  &_4 {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
  &_5 {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  & > * {
    flex: 1;
  }
}
