.footer {
  background: #171717;
  padding: 7.5rem 0;
  color: #fff;
  font-size: 1.4rem;

  &__container {
    max-width: 114rem;
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 10rem;

    h3 {
      margin-bottom: 0.5em;
    }
  }

  &__left {
    max-width: max-content;
  }
  &__middle {
    max-width: max-content;
  }
  &__right {
    max-width: max-content;
  }

  &_fixed {
    background: transparent;
    padding: 3rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 1rem;
    right: 0;
    left: 0;
    .footer__right {
      text-align: right;

      a {
        text-decoration: none;
        color: inherit;
        padding: 1em;
      }
    }
  }
}
