html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #292929;
  font-size: 1.6rem;
  background-color: #fafafa;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

.container {
  &_small {
    max-width: 80rem;
    margin: 0 auto;
  }
  &_middle {
    max-width: 104rem;
    margin: 0 auto;
  }
  &_large {
    max-width: 114rem;
    margin: 0 auto;
  }
}

.pb {
  &_small {
    padding-bottom: 4rem;
  }
  &_middle {
    padding-bottom: 7rem;
  }
  &_large {
    padding-bottom: 10rem;
  }
}
