html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #292929;
  font-size: 1.6rem;
  background-color: #fafafa;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-align-center {
  align-items: center;
}
.tdn {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.red {
  color: #f10f3b;
}

.fz-1 {
  font-size: 1.6rem;
}
.fz-2 {
  font-size: 1.8rem;
}
.fz-3 {
  font-size: 2rem;
}

.padding {
  &_small {
    padding: 1em;
  }
  &_medium {
    padding: 2em;
  }
  &_large {
    padding: 3em;
  }
}

.container {
  &_small {
    max-width: 80rem;
    margin: 0 auto;
  }
  &_medium {
    max-width: 104rem;
    margin: 0 auto;
  }
  &_large {
    max-width: 114rem;
    margin: 0 auto;
  }
}

.pb {
  &_small {
    padding-bottom: 4rem;
  }
  &_medium {
    padding-bottom: 7rem;
  }
  &_large {
    padding-bottom: 10rem;
  }
}
.mb {
  &_small {
    margin-bottom: 2rem;
  }
  &_medium {
    margin-bottom: 4rem;
  }
  &_large {
    margin-bottom: 6rem;
  }
}
